button {
    font-size: 0.875rem;
    color: white;
    padding: 12px 24px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: all 150ms cubic-bezier(0.25, 0.1, 0.25, 1);
    position: relative;
    display: flex;
    height: fit-content;
    width: fit-content;
}

button>p,
button>img {
    transition: all 150ms cubic-bezier(0.25, 0.1, 0.25, 1);
}

.primary {
    border: 1px solid #78c0ff;
    background-color: #1b83dd;
}

.primary:hover {
    border: 1px solid #78c0ff;
    background-color: #1e96ff;
}

button.secondary {
    background-color: #f0f0f0;
    border: 1px solid #b8b8b8;
}

button.secondary:hover {
    background-color: rgb(226, 226, 226);
}

button.secondary>p {
    color: black;
}

button.secondary>img {
    filter: brightness(0);
}


button.destructive {
    background-color: #dc2626;
}

.cancel {
    background-color: #4b5563;
}

.warning {
    background-color: #f59e0b;
}

.success {
    background-color: #10b981;
}

button.loading>p {
    opacity: 0;
}

button.loading>img {
    opacity: 1;
}

button>img {
    opacity: 0;
    width: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: rotateAnimation 2s infinite linear;
}

@keyframes rotateAnimation {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}