.scrollArea {
    overflow-y: scroll;
    overflow-x: hidden;
    flex: 0 0 auto;
}

.scrollArea::-webkit-scrollbar {
    width: 8px;
}

.scrollArea::-webkit-scrollbar-thumb {
    background-color: rgba(212, 212, 212, 0);
}

.scrollArea::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255);
}

.scrollArea.darkMode::-webkit-scrollbar-track {
    background-color: rgb(0, 0, 0);
}


/* Make the scrollbar fully opaque on hover */
.scrollArea:hover::-webkit-scrollbar-thumb {
    background-color: rgba(212, 212, 212, 1);
}

.scrollArea.darkMode:hover::-webkit-scrollbar-thumb {
    background-color: rgba(126, 126, 126, 1);
}