.selectDropdown {
    background-color: white;
    width: 100%;
    border: 1px solid #E2E2E2;
    padding: 4px;
}

.selectDropdown>p {
    padding: 8px 16px;
}

.selectDropdown>p:hover {
    background-color: #f8f8f8;
}

/* darkMode */
.darkMode.select>.selectDropdown {
    background-color: black;
    border: 1px solid #313131;
}

.darkMode.select>.selectDropdown>p:hover {
    background-color: #1A1A1A;
}