.popover {
    position: relative;
}

.popoverContent {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 50%;
    margin: auto;
    perspective: 1000px;
    transform: translate(-50%, -8px) scale(0.95);
    z-index: 1001;
    transition: all 350ms cubic-bezier(0.32, 0.72, 0, 1);
}


.showPopoverContent {
    pointer-events: unset;
    opacity: 1;
}

.popoverContent.showPopoverContent {
    transform: translate(-50%, 2px) scale(1);
}