.popover {
    position: relative;
}

.popoverContent {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    perspective: 1000px;
    transform: scale(0.95);
    z-index: 1001;
    transition: all 250ms cubic-bezier(0.32, 0.72, 0, 1);
}


.showPopoverContent {
    pointer-events: unset;
    opacity: 1;
}

.up-right.popoverContent {
    bottom: 100%;
    left: 0;
}

.up-left.popoverContent {
    bottom: 100%;
    right: 0;
}

.up-center.popoverContent {
    bottom: 100%;
    left: 50%;
    transform: translate(-50%) scale(0.95);
}

.down-right.popoverContent {
    top: 100%;
    left: 0;
}

.down-left.popoverContent {
    top: 100%;
    right: 0;
}

.down-center.popoverContent {
    top: 100%;
    left: 50%;
    transform: translate(-50%) scale(0.95);
}

.up-center.popoverContent.showPopoverContent {
    bottom: 100%;
    transform: translate(-50%) scale(1);
}

.down-center.popoverContent.showPopoverContent {
    bottom: 100%;
    transform: translate(-50%) scale(1);
}

.popoverContent.showPopoverContent {
    transform: scale(1);
}