.accordionProvider {
    display: flex;
    flex-direction: column;
}

.accordion {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(143, 146, 146);
}

.accordionTrigger {
    padding: 16px 0;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordionTrigger>a {
    transition: all 350ms cubic-bezier(0.32, 0.72, 0, 1);
}

.accordionContent {
    max-height: 0;
    overflow: hidden;
    transition: all 350ms cubic-bezier(0.32, 0.72, 0, 1);
}

/* active */
.active.accordionContent {
    padding-bottom: 16px;
}
.active.accordionTrigger>a {
    transform: rotate(-180deg) scaleX(-1);
}

/* darkMode */
.darkMode.accordion {
    border-bottom: 1px solid rgb(163, 164, 165);
}