.carousel {
    position: relative;
    width: 500px;
    height: 500px;
    overflow: hidden;
}

.carousel:hover>img {
    opacity: 0.7 !important;
}

.carousel>img {
    z-index: 3;
    border-radius: 50%;
    box-shadow: -5px 10px 20px -3px rgba(204, 204, 204, 0.1), -4px 0 6px -2px rgba(32, 32, 32, 0.05);
    cursor: pointer;
    transition: all 350ms cubic-bezier(0.32, 0.72, 0, 1);

    opacity: 0;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
}

.carousel>img:hover {
    opacity: 1 !important;
}

.carousel>img:last-of-type {
    left: auto;
    right: 16px;
}


.carouselDotContainer {
    transform: translateX(-50%);
    position: absolute;
    bottom: 16px;
    left: 50%;
    display: flex;
    gap: 8px;
}

.carouselDot {
    width: 5px;
    height: 5px;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.459);
    transition: all 200ms cubic-bezier(.2, .69, .56, .76);
}

.active.carouselDot {
    width: 24px;
    background-color: rgba(255, 255, 255, 0.959) !important;
}

.carouselImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translateY(100%);
}

.inViewToLeft {
    animation: inViewToLeft 500ms cubic-bezier(0.32, 0.72, 0, 1) forwards;
}

.inViewToRight {
    animation: inViewToRight 500ms cubic-bezier(0.32, 0.72, 0, 1) forwards;
}

.rightToInView {
    animation: rightToInView 500ms cubic-bezier(0.32, 0.72, 0, 1) forwards;
}

.leftToInView {
    animation: leftToInView 500ms cubic-bezier(0.32, 0.72, 0, 1) forwards;
}

@keyframes inViewToLeft {
    0% {
        transform: unset;
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes inViewToRight {
    0% {
        transform: unset;
    }

    100% {
        transform: translateX(100%);
    }
}

@keyframes rightToInView {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: unset;
    }
}

@keyframes leftToInView {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: unset;
    }
}