.scroll-indicator-container {
  width: 100%;
  height: 5px;
  overflow: hidden;
}

.scroll-indicator-bar {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #E2E2E2;
}

.scroll-indicator-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
}

/* darkMode */
.darkMode .scroll-indicator-bar {
  background-color: #313131;
}

.darkMode .scroll-indicator-overlay {
  background-color: #ffffff;
}