body {
  padding: 80px;
}

* {
  font-family: 'inter', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Primary Colors */
  --primary-1: #005cff;
  --primary-2: #1f96ff;
  --primary-3: #65b3ff;
  --primary-4: #a3cdff;

  /* Secondary Colors */
  --secondary-1: #ffb800;
  --secondary-2: #ffcc33;
  --secondary-3: #ffd966;
  --secondary-4: #ffe699;

  /* Destructive Colors */
  --destructive-1: #dc2626;
  --destructive-2: #ff4d61;
  --destructive-3: #ff8294;
  --destructive-4: #ffadc6;

  /* Cancel Colors */
  --cancel-1: #4b5563;
  --cancel-2: #a6a6a6;
  --cancel-3: #cccccc;
  --cancel-4: #e3e3e3;

  /* Warning Colors */
  --warning-1: #f59e0b;
  --warning-2: #ffbb33;
  --warning-3: #ffcc66;
  --warning-4: #ffd999;

  /* Success Colors */
  --success-1: #10b981;
  --success-2: #33cc33;
  --success-3: #66d966;
  --success-4: #99e699;

  /* Border Radius */
  --border-radius-sm: 0.125rem;
  --border-radius-md: 0.25rem;
  --border-radius-lg: 0.5rem;
  --border-radius-xl: 1rem;
  --border-radius-full: 50%;

  /* Font Sizes */
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 1.875rem;
  --font-size-4xl: 2.25rem;
  --font-size-5xl: 3rem;

  /* Transition Utility */
  --transition-all: all 150ms cubic-bezier(0.25, 0.1, 0.25, 1);
}

p {
  font-size: var(--font-size-sm);
}


/* Button.tsx */
button {
  font-size: 0.875rem;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: all 150ms cubic-bezier(0.25, 0.1, 0.25, 1);
  position: relative;
  display: flex;
}

button > p,
button > img {
  transition: all 150ms cubic-bezier(0.25, 0.1, 0.25, 1);
}

.primary {
  background-color: #1f96ff;
}

.secondary {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid black;
}

.secondary > p {
  color: black;
}

.secondary > img {
  filter: brightness(0);
}

.destructive {
  background-color: #dc2626;
}

.cancel {
  background-color: #4b5563;
}

.warning {
  background-color: #f59e0b;
}

.success {
  background-color: #10b981;
}

button.loading > p {
  opacity: 0;
}

button.loading > img {
  opacity: 1;
}

button:hover {
  opacity: 0.7;
}

button > img {
  opacity: 0;
  width: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: rotateAnimation 2s infinite linear;
}

@keyframes rotateAnimation {
  0% {
      transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
      transform: translate(-50%, -50%) rotate(360deg);
  }
}


/* Dropdown.tsx */
select {
  padding: 10px;
  padding-right: 49px;
  width: 100%;
  font-weight: 500;
  border: 1px solid #e0e0e0;
  font-size: 14px;
  border-radius: 8px;
  appearance: none;
  background-image: url('/dropDownIcon.svg');
  background-repeat: no-repeat;
  background-position: calc(100% - 12px) center;
  background-size: 12px;
  margin-top: 4px;
}

option {
  font-weight: 500;
}