* {
  font-family: 'inter', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page {
  width: 100vw;
  height: 100vh;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  border: 1px solid white;
}

.darkMode {
  background-color: black;
}

.darkMode p {
  color: white;
}

:root {
  /* Primary Colors */
  --primary-1: #005cff;
  --primary-2: #1f96ff;
  --primary-3: #65b3ff;
  --primary-4: #a3cdff;

  /* Secondary Colors */
  --secondary-1: #ffb800;
  --secondary-2: #ffcc33;
  --secondary-3: #ffd966;
  --secondary-4: #ffe699;

  /* Destructive Colors */
  --destructive-1: #dc2626;
  --destructive-2: #ff4d61;
  --destructive-3: #ff8294;
  --destructive-4: #ffadc6;

  /* Cancel Colors */
  --cancel-1: #4b5563;
  --cancel-2: #a6a6a6;
  --cancel-3: #cccccc;
  --cancel-4: #e3e3e3;

  /* Warning Colors */
  --warning-1: #f59e0b;
  --warning-2: #ffbb33;
  --warning-3: #ffcc66;
  --warning-4: #ffd999;

  /* Success Colors */
  --success-1: #10b981;
  --success-2: #33cc33;
  --success-3: #66d966;
  --success-4: #99e699;

  /* Border Radius */
  --border-radius-sm: 0.125rem;
  --border-radius-md: 0.25rem;
  --border-radius-lg: 0.5rem;
  --border-radius-xl: 1rem;
  --border-radius-full: 50%;

  /* Font Sizes */
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 1.875rem;
  --font-size-4xl: 2.25rem;
  --font-size-5xl: 3rem;

  /* Transition Utility */
  --transition-all: all 150ms cubic-bezier(0.25, 0.1, 0.25, 1);

  /* Box Shadows */
  --box-shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --box-shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --box-shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --box-shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

p {
  font-size: var(--font-size-sm);
}

a {
  text-decoration: none;
}

/* Button.tsx */

button {
  font-size: 0.875rem;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: all 150ms cubic-bezier(0.25, 0.1, 0.25, 1);
  position: relative;
  display: flex;
  height: fit-content;
}

button>p,
button>img {
  transition: all 150ms cubic-bezier(0.25, 0.1, 0.25, 1);
}

.primary {
  border: 1px solid #78c0ff;
  background-color: #1b83dd;
}

.primary:hover {
  border: 1px solid #78c0ff;
  background-color: #1e96ff;
}

.secondary {
  background-color: #f0f0f0;
  border: 1px solid #b8b8b8;
}

.secondary:hover {
  background-color: rgb(226, 226, 226);
}

.secondary>p {
  color: black;
}

.secondary>img {
  filter: brightness(0);
}

.destructive {
  background-color: #dc2626;
}

.cancel {
  background-color: #4b5563;
}

.warning {
  background-color: #f59e0b;
}

.success {
  background-color: #10b981;
}

button.loading>p {
  opacity: 0;
}

button.loading>img {
  opacity: 1;
}

button>img {
  opacity: 0;
  width: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: rotateAnimation 2s infinite linear;
}

@keyframes rotateAnimation {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}

/* Dropdown.tsx */
select {
  padding: 10px;
  padding-right: 49px;
  width: 100%;
  font-weight: 500;
  border: 1px solid #e0e0e0;
  font-size: 14px;
  border-radius: 8px;
  appearance: none;
  background-image: url('/dropDownIcon.svg');
  background-repeat: no-repeat;
  background-position: calc(100% - 12px) center;
  background-size: 12px;
  margin-top: 4px;
}

option {
  font-weight: 500;
}

/* NavBar.tsx */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f8f9fa;
}

.navbar-logo {
  height: 40px;
}

.navbar-links {
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar-link {
  margin-left: 24px;
  position: relative;
}

.navbar-link a {
  text-decoration: none;
  color: #333;
}

.navbar-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 16px;
  background-color: #fff;
  border: 1px solid #ddd;
  width: 200px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition: opacity 0.3s ease, visibility 0.3s ease;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  border-radius: 4px;
}

.navbar-link:hover .navbar-dropdown {
  opacity: 1;
  visibility: visible;
  border-radius: 8px;
}

.navbar-dropdown h3 {
  margin-bottom: 12px;
}

.navbar-dropdown-link {
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.navbar-dropdown-link img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.navbar-dropdown-link a {
  text-decoration: none;
  color: #333;
}

.navbar-dropdown-link:hover {
  background-color: rgb(233, 233, 233);
}

.navbar-link>a {
  padding: 10px 20px;
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
  text-decoration: none;
}

.navbar-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}


/* Modal.tsx */
.modal {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  background-color: white;
  border: 1px solid rgb(223, 223, 223);
  padding: 24px;
  z-index: 1001;
  border-radius: 8px;
  transition: all 150ms cubic-bezier(0.25, 0.1, 0.25, 1);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.modal.darkMode {
  background-color: #09090B;
  border: 1px solid rgb(100, 100, 100);
}


.backdrop {
  pointer-events: none;
  opacity: 0;
  z-index: 1000;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.808);
  backdrop-filter: blur(2px);
  inset: 0;
  height: 100vh;
  width: 100vw;
  transition: all 150ms cubic-bezier(0.25, 0.1, 0.25, 1);
}

.backdrop.darkMode {
  background-color: rgba(0, 0, 0, 0.808);
}

.showModal {
  pointer-events: unset;
  opacity: 1;
}

.modal.showModal {
  perspective: 1000px;
  transform: translate(-50%, -50%);
}


/* Tooltip.tsx */
.tooltip {
  width: fit-content;
  gap: 6px;
  display: flex;
  position: relative;
}

.tooltip-hoverBox {
  position: absolute;
  max-width: 400px;
  word-wrap: break-word;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  background-color: white;
  padding: 8px 12px;
  border: 1px solid rgb(202, 202, 202);
  border-radius: 4px;
  right: -4px;
  transform: translate(100%, 0%) scale(0.95);
  opacity: 0;
  transition: opacity .15s;
  z-index: 89;
  pointer-events: none;
  perspective: 1000px;
  transition: all 75ms cubic-bezier(0.25, 0.1, 0.25, 1);
  ;
}

.active.tooltip-hoverBox {
  transform: translate(100%, 0%);
  opacity: .95;
}

.darkMode>.tooltip-hoverBox {
  border: 1px solid rgb(83, 83, 83);
  background-color: rgb(14, 14, 14);
  color: rgb(236, 236, 236);
}

.tooltip>img {
  width: 16px;
  height: 16px;
}

/* Input.tsx */
input[type="text"] {
  font-size: var(--font-size-sm);
  border: 1px solid #cccccc;
  border-radius: 6px;
  padding: 8px 12px;
  min-width: 320px;
}

input[type="text"]:focus {
  outline: 1px solid #cccccc;
}

input[type="text"].darkMode {
  color: white;
  border: 1px solid #333333;
}

input[type="text"].darkMode:focus {
  color: white;
  outline: 1px solid #333333;
}

input[type="text"].darkMode::placeholder {
  color: rgb(165, 169, 177);
}

/* Slider.tsx */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  height: 8px;
  background: #000000;
  border-radius: 8px;
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  background: #ffffff;
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"].darkMode {
  -webkit-appearance: none;
  appearance: none;
  height: 8px;
  background: #fffefe;
  border-radius: 8px;
  outline: none;
}

input[type="range"].darkMode::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  background: #000000;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"].fullWidth {
  width: 100%;
}