* {
  font-family: 'inter', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page {
  width: 100vw;
  height: 100vh;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
}

.page.darkMode {
  background-color: black;
}

:root {
  /* Primary Colors */
  --primary-1: #005cff;
  --primary-2: #1f96ff;
  --primary-3: #65b3ff;
  --primary-4: #a3cdff;

  /* Secondary Colors */
  --secondary-1: #ffb800;
  --secondary-2: #ffcc33;
  --secondary-3: #ffd966;
  --secondary-4: #ffe699;

  /* Destructive Colors */
  --destructive-1: #dc2626;
  --destructive-2: #ff4d61;
  --destructive-3: #ff8294;
  --destructive-4: #ffadc6;

  /* Cancel Colors */
  --cancel-1: #4b5563;
  --cancel-2: #a6a6a6;
  --cancel-3: #cccccc;
  --cancel-4: #e3e3e3;

  /* Warning Colors */
  --warning-1: #f59e0b;
  --warning-2: #ffbb33;
  --warning-3: #ffcc66;
  --warning-4: #ffd999;

  /* Success Colors */
  --success-1: #10b981;
  --success-2: #33cc33;
  --success-3: #66d966;
  --success-4: #99e699;

  /* Border Radius */
  --border-radius-sm: 0.125rem;
  --border-radius-md: 0.25rem;
  --border-radius-lg: 0.5rem;
  --border-radius-xl: 1rem;
  --border-radius-full: 50%;

  /* Font Sizes */
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 1.875rem;
  --font-size-4xl: 2.25rem;
  --font-size-5xl: 3rem;

  /* Transition Utility */
  --transition-all: all 150ms cubic-bezier(0.25, 0.1, 0.25, 1);

  /* Box Shadows */
  --box-shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --box-shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --box-shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --box-shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

p {
  font-size: var(--font-size-sm);
  line-height: 125%;
}

a {
  text-decoration: none;
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.demoBox {
  background-color: #f8f8f8;
  background-image: linear-gradient(#9b9b9b3b 1px, transparent 1px),
    linear-gradient(90deg, #9b9b9b3b 1px, transparent 1px);
  background-size: 40px 40px;
  width: 100%;
  height: 100%;
  min-height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.darkMode.page>.demoBox {
  border: 1px solid rgb(65, 65, 66);
  background-color: rgb(34, 35, 36);
}

.darkMode.page>* {
  color: rgb(236, 235, 235);
}

.darkMode.page img {
  filter: invert();
}