.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.inputContainer > img {
  position: absolute;
  top: 50%;
  transform: translate(12px ,-50%);
}

.input.inputWithImg {
  padding-left: 36px;
}

.input {
  font-size: 14px;
  border: 1px solid #d4d4d4;
  padding: 8px 12px;
  min-width: 320px;
}

.input:focus {
  outline: 1px solid #d4d4d4;
}

.input.fullWidth {
  width: 100%;
}

.input.darkMode {
  color: white;
  border: 1px solid #313131;
  background-color: rgb(0, 0, 0);
}

.input.darkMode:focus {
  color: white;
  outline: 1px solid #313131;
}

.input.darkMode::placeholder {
  color: #A0A0A0;
}