/* horizontal */
.h.separator {
    width: 100%;
    height: 1px;
    background-color: #d4d4d4;;
}

/* vertical */
.v.separator {
    height: 100%;
    width: 1px;
    background-color: #d4d4d4;;
}

/* darkMode */
.darkMode.separator {
    background-color: #313131;
}