.searchBarComponent {
    position: relative;
}

input[type="text"] {
    font-size: var(--font-size-sm);
    border: 1px solid #cccccc;
    border-radius: 6px;
    padding: 8px 12px;
    min-width: 320px;
}

input[type="text"]:focus {
    outline: 1px solid #cccccc;
}

input[type="text"].darkMode {
    color: white;
    border: 1px solid #333333;
}

.fullWidth {
    width: 100%;
}

input[type="text"].darkMode:focus {
    color: white;
    outline: 1px solid #333333;
}

input[type="text"].darkMode::placeholder {
    color: rgb(165, 169, 177);
}

.searchBarDropdown {
    width: 100%;
    pointer-events: none;
    overflow-y: scroll;
    top: 100%;
    left: 0;
    position: absolute;
    border: 1px solid #cccccc;
    display: flex;
    flex-direction: column;
    padding: 8px;
    border-radius: 0.5rem;
    opacity: 0;
    perspective: 1000px;
    transform: translate(0, 25px) scale(0.95);
    transition: all 100ms cubic-bezier(0.25, 0.1, 0.25, 1);
}


.searchBarDropdown.visible {
    pointer-events: unset;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    opacity: 1;
    transform: scale(1);
}

.searchBarDropdown>p {
    border-radius: 0.25rem;
    padding: 8px;
    cursor: pointer;
}

.searchBarDropdown>p:hover,
.focusedQuery {
    background-color: #f0f0f0;
}

.noResults {
    cursor: default !important;
    background-color: rgba(255, 255, 255, 0) !important;
}

/* Scrollbar */

.searchBarDropdown::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.searchBarDropdown::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 4px;
}

.searchBarDropdown::-webkit-scrollbar-thumb {
    background-color: rgb(185, 184, 184);
    border-radius: 4px;
}

/* Darkmode */
.searchBarDropdown.darkMode {
    border: 1px solid #333333;
}

.searchBarDropdown.darkMode>p:hover,
.darkMode>.focusedQuery {
    background-color: #292a2c;
}

.searchBarDropdown.darkMode::-webkit-scrollbar-track {
    background-color: #1f1d1d;
}

.searchBarDropdown.darkMode::-webkit-scrollbar-thumb {
    background-color: rgb(126, 126, 126);
}