.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f8f9fa;
}

.navbar-logo {
    height: 40px;
}

.navbar-links {
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar-link {
    margin-left: 24px;
    position: relative;
}

.navbar-link a {
    text-decoration: none;
    color: #333;
}

.navbar-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    padding: 16px;
    background-color: #fff;
    border: 1px solid #ddd;
    width: 200px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    transition: opacity 0.3s ease, visibility 0.3s ease;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    border-radius: 4px;
}

.navbar-link:hover .navbar-dropdown {
    opacity: 1;
    visibility: visible;
    border-radius: 8px;
}

.navbar-dropdown h3 {
    margin-bottom: 12px;
}

.navbar-dropdown-link {
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.navbar-dropdown-link img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.navbar-dropdown-link a {
    text-decoration: none;
    color: #333;
}

.navbar-dropdown-link:hover {
    background-color: rgb(233, 233, 233);
}

.navbar-link > a {
    padding: 10px 20px;
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
    text-decoration: none;
}

.navbar-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}
