th {
    transition: background-color 0.15s;
    padding: 8px;
}

th>p {
    cursor: pointer;
    width: fit-content;
    padding: 6px 10px;
    transition: background-color 0.15s;
    user-select: none;
}

th>p:hover {
    background-color: #f8f8f8;
}

table {
    background-color: white;
    width: 100%;
    border-collapse: collapse;
}

table p {
    white-space: nowrap;
}

tr {
    border: 1px solid #f3f3f3;
    transition: background-color 0.15s;
}

tbody>tr:hover {
    background-color: #f8f8f8;
}

td {
    padding: 12px;
    transition: background-color 0.15s;
    text-align: left;
}


.table-deleteActivated {
    gap: 16px;
    justify-content: flex-start !important;
}

.table-actionsComponent {
    user-select: none;
    width: fit-content;
    height: fit-content;
    position: relative;
}

.table-actionsComponent>img {
    padding: 6px;
    cursor: pointer;
    transition: background-color .15s;
}

.table-actionsComponent>img:hover {
    background-color: #eeeeee;
}

.table-actionsComponent-dropdown {
    box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    position: absolute !important;
    z-index: 20;
    top: 100%;
    right: 0;
    border: 1px solid #f3f3f3;
    width: fit-content;
    padding: 4px;
    background-color: white;
    pointer-events: none;
    transition: opacity 0.15s;
    opacity: 0;
}

.active.table-actionsComponent-dropdown {
    display: flex;
    flex-direction: column;
    pointer-events: unset;
    opacity: 1;
}


.table-actionsComponent-dropdown>p {
    cursor: pointer;
    padding: 8px 12px;
    transition: background-color .15s;
}

.table-actionsComponent-dropdown>p:hover {
    background-color: #f8f8f8;
}

/* darkMode */
table.darkMode th>p:hover {
    background-color: #313131;
}

table.darkMode {
    background-color: rgb(0, 0, 0);
}

table.darkMode tr {
    background-color: rgb(0, 0, 0);
    border: 1px solid #313131;
}

table.darkMode tbody>tr:hover {
    background-color: #313131;
}

table.darkMode .table-actionsComponent>img:hover {
    background-color: #a8a8a8;
}

table.darkMode .table-actionsComponent-dropdown {
    box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    border: 1px solid #464646;
    background-color: rgb(0, 0, 0);
}

table.darkMode .table-actionsComponent-dropdown>p:hover {
    background-color: #313131;
}