.tooltip {
  width: fit-content;
  gap: 6px;
  display: flex;
  position: relative;
}

.tooltip-hoverBox {
  position: absolute;
  max-width: 400px;
  word-wrap: break-word;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  background-color: white;
  padding: 8px 12px;
  border: 1px solid rgb(202, 202, 202);
  border-radius: 4px;
  right: -4px;
  transform: translate(100%, 0%) scale(0.95);
  opacity: 0;
  transition: opacity .15s;
  z-index: 89;
  pointer-events: none;
  perspective: 1000px;
  transition: all 75ms cubic-bezier(0.25, 0.1, 0.25, 1);
  ;
}

.active.tooltip-hoverBox {
  transform: translate(100%, 0%);
  opacity: .95;
}

.darkMode>.tooltip-hoverBox {
  border: 1px solid rgb(83, 83, 83);
  background-color: rgb(14, 14, 14);
  color: rgb(236, 236, 236);
}

.tooltip > img {
  width: 16px; 
  height: 16px;
}