.alert {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    z-index: 1001;
    transition: all 300ms cubic-bezier(0.32, 0.72, 0, 1);
}

.showAlert {
    pointer-events: unset;
    opacity: 1;
}

.alert.showAlert {
    perspective: 1000px;
    /* This gives depth perception */
    transform: translate(-50%, -50%);
}