.avatar {
    cursor: pointer;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    padding: 10px;
    transition: all 150ms cubic-bezier(0.25, 0.1, 0.25, 1);
}

.avatar:hover {
    background-color: #ececec;
}

.inverted.avatar:hover {
    background-color: rgb(67, 68, 71);
}

.inverted.avatar>img {
    filter: invert(1)
}

.avatar {
    color: inherit;
}